/*===fonts===*/
@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PT_Sans-Web-Regular.ttf');
}

@font-face {
    font-family: 'PT Sans';
    font-weight: bold;
    src: url('../fonts/PT_Sans-Web-Bold.ttf');
}

@font-face {
    font-family: 'PT Sans';
    font-style: italic;
    src: url('../fonts/PT_Sans-Web-Italic.ttf');
}

@font-face {
    font-family: 'PT Sans';
    font-weight: bold;
    font-style: italic;
    src: url('../fonts/PT_Sans-Web-BoldItalic.ttf');
}


/*===viewports===*/
@mediamax-width 992px {
    body {
        font-size: 15px;
    }
}

@mediamax-width 768px {
    body {
        font-size: 12px;
    }
}


/*===main===*/
body {
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
    font-weight: 300;
}

p {
    margin-bottom: 30px;
}

.copyright {
    font-size: .9em;
    color: #555;
}

.jumbotron h1 {
    color: #A11;
}

.chapter {
    color: #ddd;    
}

h3 {
    margin-top: 40px;
}

.center {
    color: #ddd;
    text-align: center;
}

#left {
    float: left;
}

#right {
    float: right;
}

#keepScrolling, #keepScrolling2 {
    font-size: .9em;
}

.affix {
    position: fixed;
    top: 30px;
}

.affix-bottom {
    position: absolute;
}


/*===chart===*/
#chartTitle {
    height: 80px;
    margin-bottom: 5px;
}

#chartLegend text {
    font-size: .9em;
}

.dotsG text, #chartFooter, .x.axis text, .y.axis text {
    font-size: .8em;
}

.y.axis line {
    fill: none;
    shape-rendering: crispEdges;
    stroke: #000;
}

.y.axis path, .x.axis line, .x.axis path {
    display: none;
}

#nspd.layer {
    fill: #ccc;
}

#mistrust-bars, .mistrustBox {
    fill: #A11;
}

#spd.layer, .bar, .spdBox {
    fill: #555;
}

#counter {
    fill: #A11;
    font-size: 2em;
    font-weight: 500;
}


/*===popovers===*/
.myLabel {
    background-color: #ddd;
    color: #eee;
    stroke: #fff;
    stroke-width: 1px;
}

.table {
    font-size: .85em;
    text-align: left;
    width: 100%;
}

.table th text {
    font-weight: 500;
    padding: .8em;
}

.table td {
    padding: .5em;
}

.popover {
    max-width: 95%;
}

.popover-heading {
    color: #A11;
    font-size: .9em;
    font-weight: 700;
}


/*===tooltips===*/
#myTooltip {
    font-size: 16px;
}

circle:hover {
    r: 5;
    transition: r .5s;
}

circle.dot-spd:hover {
    fill: #777;
    transition: fill .5s;
}

circle.dot-dp:hover {
    stroke: #777;
    stroke-width: 1px;
    fill: #bbb;
    transition: fill .5s;
}

circle.mistrust:hover {
    fill: #A11;
}