html {
    position: relative;
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 100%;
    color: #383e47;
    width: 100%;
    /*footer height plus padding*/
    margin-bottom: 200px;
    
  }


.fullPage {
  min-height: 100%;
  border-bottom: 2px solid #ffffff;
  }


.heading {
     padding: 20px 0px 10px 0px;     
}


.textPage {
    background-color: #EFF2F4;
    padding-top: 50px;
}

.chartPage {
  background-color: #E3E6EA;    
}
.content {
    margin:0px auto;
    padding: 20px 40px 20px 40px;
}

.chartTitle {    
    background-color: #E3E6EA;
    padding: 50px 40px 10px 40px;
   
  }

.chartSubTitle {
    font-size: 1.4em; 
    background-color: #E3E6EA;
    padding: 10px 40px 15px 40px;
  }


/*панель инструментов*/
.toolBar {
    background-color: #E3E6EA;
    padding: 10px 40px 20px 40px;
    font-size: 1.2em;
    }

.chartLegend {
    padding: 0px 40px 10px 40px;
    font-size: 1.2em;
    }

.chartArea {
    background-color: #E3E6EA;
    padding: 0px 40px 0px 40px;
    font-size: 1.15em;
     }

.chartFooter {
    background-color: #E3E6EA;
    padding: 10px 40px 0px 40px;
    font-size: 1.1em;
  }



/*отступы для контейров с графиками*/
.year,
.country {
    float: left;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 0;
    padding-left: 0;
}


/*оси и линии сетки*/
.axis path,
.axis line {
    fill: none;
    stroke-width: 1px; /*толщина разделительной линии для 2004 года*/
    shape-rendering: crispEdges;
    stroke: #3A3F4A;
    opacity: 1;
    pointer-events: none;
}



.yFirstPart.axis path,
.yThirdPart.axis path {
    display: none;
}

/*подписи осей*/
.axis text {
    fill: #5D646F; 
}

#bar {
     fill: #FCB64C;
   }

.overlay {
    fill: none;
    pointer-events: all;
}

.hidden {
    display: none;
    opacity: 0;    
}

.lineEU {
fill: none;
stroke-width: 1.5px;
stroke: #549DAD;
}

.lineAll {
fill: none;
stroke-width: 1.5px;
stroke: #3A3F4A;
}


#menuSecondPart {
    padding: 0;
      }

#menuSecondPart button{
    width: 70px;
    text-align: center;
    /*display: inline-block;*/
    background-color: #A3A9B3;
    margin: 5px 9px 5px 9px;
    padding: 4px 4px 4px 4px;
   border-radius: 4px 4px 4px 4px;
    font-size: 1em;
}

/*ul#menuSecondPart li:hover {
    background-color:  #549DAD;
    color: #E3E6EA;
}*/

#menuSecondPart button.selected {
    background-color:  #549DAD;
    color: #E3E6EA;
}

ul#legendSecondPart {
    padding: 0;    
      }

ul#legendSecondPart div#UA {
    margin: 0px 5px 0px 0px;
    width: 15px;
    height: 15px;
    background-color: #FCB64C;
}

ul#legendSecondPart div#EU {
    margin: 0px 5px 0px 15px;
    width: 15px;
    height: 15px;
    background-color: #549DAD;
}

ul#legendSecondPart li {
    display: inline-block;   
}


/*цвета для старых и новых членов*/
.areaThirdPart {
    fill: #549DAD;
   }

/*цвет Украины*/
path#Україна {
     fill: #FCB64C;    
   }

.circle {
    pointer-events: none;
     fill: #3A3F4A;
}

.myButton {
    font-size: 1.1em; 
}

.fa {
    font-size: 2em; 
    font-weight: 400;
}

.small {
    font-size: 1.3em; 
    font-weight: 400;
}

h4, h5 {
    color: #f9a21b;
}
.spoiler {
    display: table;
    position: relative;	
	margin-bottom: 10px;
    font-size: 1.35em; 
}

.spoiler-btn {
	padding: 2px 6px;
	cursor: pointer;
}

.spoiler-body {
	padding: 6px;
    font-size: 0.75em; 
}
.spoiler-body ul, ol {
	font-size: 1.3em; 
}
