/*media queries*/

@media only screen and (max-width: 1920px) {
    html {
        font-size: 20px;
    }
    h1 {
        font-size: 45px;
    }
    .chart_header {
        font-size: 22px;
    }
    .chart_comment {
        font-size: 18px;
    }
    .axis--x text {
        font-size: 13px;
    }
}

@media only screen and (max-width: 1199px) {
    html {
        font-size: 18px;
    }
    h1 {
        font-size: 35px;
    }
    .subtitle {
        font-size: 18px;
    }
    .chart_header {
        font-size: 18px;
    }
    .chart_comment {
        font-size: 15px;
    }
    .axis--x text {
        font-size: 11px;
    }
}

@media only screen and (max-width: 992px) {
    html {
        font-size: 16px;
    }
    h1 {
        font-size: 35px;
    }
    .subtitle {
        font-size: 14px;
    }
    .chart_header {
        font-size: 15px;
    }
    .chart_comment {
        font-size: 13px;
    }
    .axis--x text {
        font-size: 10px;
    }
}

@media only screen and (max-width: 991px) {
    html {
        font-size: 16px;
    }
    h1 {
        font-size: 45px;
    }
    .subtitle {
        font-size: 14px;
    }
    .chart_header {
        font-size: 15px;
    }
    .chart_comment {
        font-size: 13px;
    }
    .axis--x text {
        font-size: 8px;
    }
    .links li {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 15px;
    }
    h1 {
        font-size: 33px;
    }
    .subtitle {
        font-size: 14px;
    }
    .chart_header {
        font-size: 15px;
    }
    .chart_comment {
        font-size: 13px;
    }
    .axis--x text {
        font-size: 7px;
    }
    .links li {
        display: none;
    }
}



/*main page*/

html {
    position: relative;
    min-height: 100%;
}

body {
    background: #EFF2F4;
    color: #3A3F4A;
    font-family: "PT Sans", sans-serif;
    width: 100%;
}

.row.no-gutter {
    margin-left: 0;
    margin-right: 0;
}

.row.no-gutter [class*="col-"]:not(:first-child),
.row.no-gutter [class*="col-"]:not(:last-child) {
    padding-left: 0;
    padding-right: 0;
}

.my_text {
    padding: 0 .5rem;
}

.my_text_prim {
    font-size: 0.8rem;
    margin: 0;
    padding: 0 .5rem;
}

.last {
    padding-top: 4rem;
}

.read-more {
    text-align: center;
}

.read-more img {
    max-width: 200px;
}

#more {
    padding: 1.5rem 0 1rem 0;
    text-align: center;
}

/*navbar*/

.social-icons a {
    color: #498689;
    cursor: pointer;
    font-size: 1.5rem;
    z-index: 1000;
}

#logo_pic {
    background-color: rgba(255, 255, 255, 0.9);
    bottom: 0;
    margin: auto;
    max-width: 100%;
    position: absolute;
    top: 0;
}

#logo_div {
    max-width: 250px;
    min-height: 2rem;
    position: relative;
    z-index: 1000;
}



/*header*/

.cover {
    margin-bottom: 1.5rem;
    margin-top: 2rem;
}


.title {
    background: #135457;
    color: #fff;
    padding: 2rem;
    margin: 0;
    height: 100%;
}

.title h1 {
    text-align: center;
}

.title p {
    font-size: 1rem;
    padding: 3rem 0 0;
}

.lead {
    font-size: 1rem;
    margin: 0;
    padding: 0 .5rem 1.5rem;
}

#info {
    font-size: .8em;
    margin: 0;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: .5rem;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}


/*panel*/

.stretch {
    text-align: justify;
    width: 100%;
}

.stretch:after {
    content: "";
    display: inline-block;
    width: 100%;
}

.subtitle {
    background: rgba(19, 84, 87, 0.1);
    font-weight: 600;
    height: 4.5rem;
    margin-top: 1.5rem;
    padding-top: .5rem;
}

.start.subtitle {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 92%, 0 60%);
    clip-path: polygon(00, 100% 0, 100% 92%, 0 60%);
    margin-bottom: 3.5rem;
    padding-left: .7rem;
    text-align: justify;
}

.mid.subtitle {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 92%, 50% 100%, 0 92%);
    clip-path: polygon(0 0, 100% 0, 100% 92%, 50% 100%, 0 92%);
    margin-bottom: .5rem;
    text-align: center;
}

.end.subtitle {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 0 92%);
    clip-path: polygon(0 0, 100% 0, 100% 60%, 0 92%);
    margin-bottom: 3.5rem;
    padding-right: .7rem;
    text-align: justify;
}

#prompt {
    color: #5D646F;
    font-size: .7rem;
    font-weight: 500;
    text-align: center;
    opacity: 0;
}

.sticky {
    position: sticky;
    top: 0.5rem;
}

.sticky:before,
.sticky:after {
    content: "";
    display: table;
}

.panel {
    color: #135457;
    display: none;
    text-align: center;
}

.panel li:hover {
    background: rgba(19, 84, 87, 0.05);
    cursor: pointer;
    font-weight: 600;
}

.panel ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.panel li span {
    display: block;
    padding: 0;
    text-align: center;
}



/*charts*/

.chart_info {
    margin-bottom: 1rem;
    margin-top: 3rem;
    padding: .5rem;
    text-align: center;
}

.chart_header {
    font-weight: 600;
    padding: .5rem .5rem .1rem;
}

.chart_comment {
    padding: .1rem .2rem .5rem .5rem;
}


/*footer*/

footer {
    background: #1c2124 none repeat scroll 0 0;
    bottom: 0;
    display: block;
    margin-top: 3rem;
    padding: 0;
    position: relative;
    text-align: left;
    width: 100%;
}

#footer-wraper {
    margin-left: 5%;
    padding-top: 1rem;
}

footer h4 {
    color: #FFF;
    font-size: .9rem;
}

.links {
    line-height: 1;
    list-style-type: none;
    margin: 0;
}

.links li a {
    color: #fff;
    font-size: .65rem;
}

.copying-info {
    color: #888c91;
    font-size: .6rem;
    padding: 1rem .5rem;
}

.support-site:link,
.support-site:visited {
    color: #FAA61A;
}
