.sep_line {
    stroke: #FAA61A;
    fill: none;
    stroke-width: 0.75px;
    /*stroke-dasharray: 5;*/
}

#label {
    fill: #FAA61A;
    font-size: 0.75rem;
}

.axis-x path,
.axis-y path {
    display: none;
}

.axis-x text,
.axis-y text {
    stroke: none;
    fill: #5A5C60;
    font-size: 0.7rem;
}

.axis-x line,
.axis-y line {
    fill: none;
    stroke: #CCD0D7;
    shape-rendering: crispEdges;
    stroke-dasharray: 2, 2;
}

.country_line {
    fill: none;
    stroke-linecap: round;
    stroke-width: 2.5px;
}
.legend_line {
    fill: none;
    stroke-linecap: round;
    stroke-width: 2.5px;
}

.dim_line {
    opacity: 0.25;
}

.d3-tip {
    line-height: 1;
    font-size: 0.8rem;
    padding: 0.8rem;
    color: #fff;
    border-radius: 0.2rem;
    overflow: hidden
}

.legend_scatterplot {
    font-size: 0.7em;
}

.grid-x line,
.grid-y line {
    stroke: #CCD0D7;
    shape-rendering: crispEdges;
}

.grid-x path,
.grid-y path {
    display: none;
}

text.label-x,
text.label-y {
    font-size: 0.8rem;
    color: #5D646F;
}
