/*chart*/

.axis-x line,
.axis-y line {
    fill: none;
    shape-rendering: crispEdges;
    stroke: #CCD0D7;
    stroke-dasharray: 2, 2;
}

.grid-x line,
.grid-y line {
    shape-rendering: crispEdges;
    stroke: #CCD0D7;
}

.axis-x path,
.axis-y path,
.grid-x path,
.grid-y path {
    display: none;
}



/*text*/

.axis-x text,
.axis-y text {
    fill: #5A5C60;
    font-size: .7rem;
    stroke: none;
}

text.label-x,
text.label-y {
    color: #5D646F;
    font-size: .8rem;
}

#label {
    fill: #91211E;
    font-size: .75rem;
    opacity: 0.7;
}

.legend_scatterplot {
    fill: #5A5C60;
    font-size: .7em;
}



/*nodes*/

.sep_line {
    fill: none;
    opacity: 0.7;
    stroke: #91211E;
    stroke-width: .75px;
}

.country_line {
    fill: none;
    stroke-linecap: round;
    stroke-width: 3.5px;
}

.legend_line {
    fill: none;
    stroke-linecap: round;
    stroke-width: 3px;
}

.dim_line {
    opacity: 0.15;
}



/*tips*/

.d3-tip {
    border-radius: .2rem;
    color: #fff;
    font-size: .8rem;
    line-height: 1.05;
    overflow: hidden;
    padding: .8rem;
}
