/*chart*/

.axis--x path {
    display: none;
}

.axis--x line,
.axis--y .tick line {
    fill: none;
    shape-rendering: crispEdges;
    stroke: #CCD0D7;
}



/*text*/

.axis--x text {
    fill: #3F4142;
    stroke: none;
}

.axis--y text {
    fill: #5A5C60;
    font-size: .7rem;
    stroke: none;
}



/*nodes*/

.bar {
    opacity: 0.75;
    stroke-width: 2px;
}

.bar#eu28 {
    opacity: 1;
    stroke-width: 2.5px;
}

.dim_bar {
    opacity: 0.1;
}

.legend_stepchart {
    font-size: .7em;
}
