/*media queries*/

@media only screen and (max-width: 1920px) {
    body {
        font-size: 18px;
        padding-top: 56px;
    }
    text {
        font-size: 12px;
    }
    #my_chart,
    #nav_items {
        top: 56px;
    }
}

@media only screen and (max-width: 1199px) {
    body {
        font-size: 18px;
        padding-top: 56px;
    }
    text {
        font-size: 12px;
    }
    #my_chart,
    #nav_items {
        top: 56px;
    }
}

@media only screen and (max-width: 992px) {
    body {
        font-size: 16px;
        padding-top: 52px;
    }
    text {
        font-size: 11px;
    }
    #my_chart,
    #nav_items {
        top: 52px;
    }
}

@media only screen and (max-width: 991px) {
    body {
        font-size: 16px;
        padding-top: 52px;
    }
    text {
        font-size: 11px;
    }
    #my_chart,
    #nav_items {
        top: 52px;
    }
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 14px;
        padding-top: 48px;
    }
    text {
        font-size: 10px;
    }
    #my_chart,
    #nav_items {
        top: 48px;
    }
}

@media only screen and (max-width: 767px) {
    body {
        font-size: 14px;
        padding-top: 48px;
    }
    text {
        font-size: 10px;
    }
    #my_chart,
    #nav_items {
        top: 48px;
    }
}


/*navbar*/

#logo_div {
    max-width: 250px;
    min-height: 2em;
    position: relative;
}

#logo_pic {
    bottom: 0;
    margin: auto;
    max-width: 100%;
    position: absolute;
    top: 0;
}

.navbar {
    background: #333332;
}

.social-icons a {
    color: #d3d3d3;
    font-size: 1.3em;
}


/*header*/

h1 {
    color: #444;
    padding: 1.2em 0 .2em;
}

.lead {
    color: #444;
}

.info {
    color: #444;
    font-size: .85em;
    padding: 0em 0 3em ;
}


/*hr {
    color: #40A0D7;    
    background-color: #40A0D7;    
}*/


/*main*/

body {
    font-family: "PT Sans", sans-serif;
}

.chapter p {
    padding: 80px 0;
}

.chapter {
    color: #ddd;
    font-size: 1.1em;
}

.sticky {
    position: sticky;
    top: 0;
}

.sticky:before,
.sticky:after {
    content: "";
    display: table;
}

svg {
    z-index: -1;
}

#my_chart,
#nav_items {
    margin: 0;
    padding: 40px 0 5px;
    width: 100%;
}


/*nav-panel*/

.nav-item {
    fill: none;
    stroke: #444;
}

.active {
    fill: #444;
}


/*chart axis*/

.axis--y path {
    display: none;
}

text {
    fill: #000;
    font-family: "PT Sans", sans-serif;
}


/*chart bars and lines*/

.sum,
.prc,
.index {
    fill: #C1DEF2;
}

.loc,
.dead {
    fill: #40A0D7;
}

.opac {
    opacity: 0.5;
}

.exp_line {
    stroke: #333;
    stroke-dasharray: 15, 5;
}


/*chart titles*/

.title {
    -moz-transition: opacity .5s ease-in;
    -ms-transition: opacity .5s ease-in;
    -webkit-transition: opacity .5s ease-in;
    color: #000;
    opacity: 0;
    position: absolute;
    transition: opacity .5s ease-in;
}

.title.show {
    -moz-transition: opacity .5s ease-out;
    -ms-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    opacity: 1;
    transition: opacity .5s ease-out;
}

.main_str {
    left: 5%;
    margin: 0;
    top: 5%;
}

.sub_str {
    font-size: .85em;
    left: 5%;
    margin: 0;
    top: 10%;
}


/*chart legend*/

.legend {
    float: left;
    list-style: none;
    padding: 0;
}

.leg_key {
    background-color: #40A0D7;
    float: left;
    height: .9em;
    margin: .3em .7em 0 0;
    width: .9em;
}

.leg_text {
    font-size: .9em;
}


/*footnotes*/

.footnote {
    font-size: .85em;
}


/*read more*/

.parent {
    width: 301px;
    margin: 1.5em 0 3em;
    height: 166px;
    border: 1px solid #40A0D7;
    overflow: hidden;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.child {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.pic {
    background-image: url(../pics/tax-debt-cover.jpg);
}

.parent a {
    display: none;
    font-size: 1.4em;
    color: #fff !important;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 30%;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-style: solid;
}

.parent:hover .child,
.parent:focus .child {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.parent:hover .child:before,
.parent:focus .child:before {
    display: block;
}

.parent:hover a,
.parent:focus a {
    display: block;
}

.child:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(64, 160, 215, 0.85);
}

.centered {
    text-align: center;
}

h3 {
    padding-top: 3em;
}


/*footer*/

footer {
    background: #333332;
    color: #d3d3d3;
    font-size: .8em;
    padding-bottom: 1.25em;
    padding-top: 1.25em;
    text-align: left;
}

footer ul.links {
    float: left;
    list-style: none;
}

footer a,
footer a:hover,
footer a:active,
footer a:visited {
    color: #d3d3d3;
    text-decoration: underline;
}
