/*
media queries
*/

@media only screen and (max-width: 1920px) {
    body {
        font-size: 18px;
        padding-top: 56px;
    }
    text {
        font-size: 12px;
    }
    #my_chart,
    #nav_items {
        top: 56px;
    }
}

@media only screen and (max-width: 1199px) {
    body {
        font-size: 18px;
        padding-top: 56px;
    }
    text {
        font-size: 12px;
    }
    #my_chart,
    #nav_items {
        top: 56px;
    }
}

@media only screen and (max-width: 992px) {
    body {
        font-size: 16px;
        padding-top: 52px;
    }
    text {
        font-size: 11px;
    }
    #my_chart,
    #nav_items {
        top: 52px;
    }
}

@media only screen and (max-width: 991px) {
    body {
        font-size: 16px;
        padding-top: 52px;
    }
    text {
        font-size: 11px;
    }
    #my_chart,
    #nav_items {
        top: 52px;
    }
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 14px;
        padding-top: 48px;
    }
    text {
        font-size: 10px;
    }
    #my_chart,
    #nav_items {
        top: 48px;
    }
}

@media only screen and (max-width: 767px) {
    body {
        font-size: 14px;
        padding-top: 48px;
    }
    text {
        font-size: 10px;
    }
    #my_chart,
    #nav_items {
        top: 48px;
    }
}

body {
    /*background-color: #EFEFEF;*/
    font-family: "PT Sans", sans-serif;
}

.chapter p {
    padding: 80px 0 80px;
}

.chapter {
    color: #ddd;
}

.info {
    font-size: .85em;
    padding: 0;
    color: #444;
}

svg {
    z-index: -1;
}

.title {
    color: #000;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in;
    -ms-transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
    -webkit-transition: opacity 0.5s ease-in;
}

.title.show {
    opacity: 1;
    transition: opacity 0.5s ease-out;
    -ms-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -webkit-transition: opacity 0.5s ease-out;
}

.main_str {
    left: 5%;
    top: 5%;
    margin: 0;
}

.sub_str {
    margin: 0;
    font-size: 0.85em;
    left: 5%;
    top: 10%;
}

#empty {
    height: 250px;
}

.sum,
.prc,
.index {
    fill: #C1DEF2;
}

.loc,
.dead {
    fill: #40A0D7;
}

.exp_line {
    stroke: #333;
    stroke-dasharray: 15, 5;
}

.opac {
    opacity: 0.5;
}

.axis--y path {
    display: none;
}

text {
    font-family: "PT Sans", sans-serif;
    fill: #000;
}

.label {
    fill: #333;
    font-style: italic;
}

.navbar {
    background: #333332;
}

.social-icons a {
    color: #d3d3d3;
    font-size: 1.3em;
}

h1 {
    color: #444;
}

.lead {
    color: #444;
}

#logo_div {
    max-width: 250px;
    min-height: 2em;
    position: relative;
}

#logo_pic {
    max-width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.sticky:before,
.sticky:after {
    content: "";
    display: table;
}

#my_chart {
    margin: 0;
    padding: 40px 0 5px;
    width: 100%;
}

#nav_items {
    margin: 0;
    padding: 40px 0 5px;
    width: 100%;
}

.nav-item {
    fill: none;
    stroke: #444;
}

.active {
    fill: #444;
}




/*
footer
*/

footer {
    background: #333332;
    color: #d3d3d3;
    font-size: .8em;
    padding-bottom: 1.25em;
    padding-top: 1.25em;
    text-align: left;
}

footer ul.links {
    float: left;
    list-style: none;
}

footer a,
footer a:hover,
footer a:active,
footer a:visited {
    color: #d3d3d3;
    text-decoration: underline;
}
