/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {body {
        font-size:18px;
    }}
@media only screen and (max-width : 1199px) {body {
        font-size:18px;
    }}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {body {
        font-size:16px;
    }}
@media only screen and (max-width : 991px) {body {
        font-size:16px;
    }}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {body {
        font-size:14px;
    }}
@media only screen and (max-width : 767px) {body {
        font-size:14px;
    }}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {body {
        font-size:12px;
    }}
@media only screen and (max-width : 479px) {body {
        font-size:12px;
    }}



/*main*/
body {
font-family:"PT Sans", sans-serif;
}
p {
padding:30px 0 5px;
}

/*my_search*/
#search_info{
color: #aaa;
font-size:.85em;
padding:0 0 35px;
}

#my_toolbar {
padding:35px 0 0;
}

#my_input {
font-size:1.25em;
}

/*my_search placeholder*/
input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.5s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.5s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.5s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.5s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.5s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.5s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.5s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.5s ease;}

::-webkit-input-placeholder {color:#bbb;}
::-moz-placeholder          {color:#bbb;}/* Firefox 19+ */
:-moz-placeholder           {color:#bbb;}/* Firefox 18- */
:-ms-input-placeholder      {color:#bbb;}

/*my_table*/
label {
font-size:.8em;
}
#my_table {
border-spacing:0;
display:none;
font-size:.85em;
}
.bottom {
font-size:.75em;
}

/*my_table child rows*/
td.details-control {
background:url(http://www.datatables.net/examples/resources/details_open.png) no-repeat center center;
cursor:pointer;
}
tr.shown td.details-control {
background:url(http://www.datatables.net/examples/resources/details_close.png) no-repeat center center;
}